{% extends 'base.html' %}
{% load static %}

{% block style %}
  {% static 'css/contacts.css' %}
{% endblock %}

{% block title %}
  Контакты
{% endblock %}

{% block content %}
  <header>
    <h1>PriceSniffer</h1>
    <a href="{% url 'main:menu' %}">главная</a>
  </header>
  <div class="container">
    <div class="contacts">
      <ul>
        <li>
          <h1>Сообщество ВКонтакте</h1>
          <a href="https://vk.com/feed" target="_blank">ВК</a>
        </li>
        <li>
          <h1>Телеграм-канал</h1>
          <a href="https://web.telegram.org" target="_blank">Tg</a>
        </li>
        <li>
          <h1>Телефон поддержки</h1>
          <a href="tel:911" target="_blank">+7 148 867 67 67</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
