{% extends 'base.html' %}
{% load static %}

{% block style %}
  {% static 'css/contacts.css' %}
{% endblock %}

{% block title %}
  Контакты
{% endblock %}

{% block content %}
  <header>
    <h1>PriceSniffer</h1>
    <a href="{% url 'main:menu' %}">главная</a>
  </header>
  <div class="container">
    <div class="contacts">
      <ul>
        <li>
          <p></p>
          <a href="" target="_blank"></a>
        </li>
        <li>
          <p></p>
          <a href="" target="_blank"></a>
        </li>
        <li>
          <p></p>
          <a href="" target="_blank"></a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
