{% extends 'base.html' %}
{% load static %}

{% block style %}
  {% static 'css/main.css' %}
{% endblock %}

{% block title %}
  Главное меню
{% endblock %}

{% block content %}
  <div class="container">
    <div class="main-area">
      <h2>Трать меньше - живи лучше.</h2>
      <p>Позвольте себе желаемое, не считая компейки до зарплаты.</p>
      <h1 style="cursor: default;">Price</h1>
      <h1 style="cursor: default;">Sniffer</h1>
      <a href="{% url 'main:link' %}" id="start-button">найти товар</a>
    </div>
    {% comment %} <div class="minor-area">
      <div class="about-area">
        <h1>О нас</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id quo aliquam recusandae distinctio amet reiciendis, veniam neque ad aut deleniti officia illum doloremque atque. Neque laboriosam repellat assumenda veritatis fugit.</p>
      </div>
      <div class="img-area">
        <img src="{% static 'imgs/king.jpg' %}" alt="KING" />
      </div>
    </div> {% endcomment %}
  </div>

  <div class="registration_popup" id="reg-popup">
    <div class="registration_popup_body">
      {% csrf_token %}
      <form action="">
        <input type="text" id="reg-username" placeholder="Логин/Имя" />
        <input type="email" id="reg-email" placeholder="Почта" />
        <input type="text" id="reg-phone" placeholder="Номер телефона" />
        <input type="password" id="reg-password" placeholder="Пароль" />
        <input type="password" id="reg-ex-password" placeholder="Повтор пароля" />
        <button type="submit">Создать аккаунт</button>
      </form>
      <a href="#">Есть аккаунт?</a>
      <a href="#">Закрыть</a>
    </div>
  </div>

  <div class="authorization_popup" id="auth-popup">
    <div class="authorization_popup_body">
      {% csrf_token %}
      <form action="">
        <input type="text" id="auth-username" placeholder="Логин/Почта" />
        <input type="password" id="auth-password" placeholder="Пароль" />
        <button type="submit">Создать аккаунт</button>
      </form>
      <a href="#">Есть аккаунт?</a>
      <a href="#">Закрыть</a>
    </div>
  </div>
  <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
