{% extends 'base.html' %}
{% load static %}

{% block style %}
  {% static 'css/main.css' %}
{% endblock %}

{% block title %}
  Главное меню
{% endblock %}

{% block content %}
  <div class="content">
    <div class="main-area">
      <div class="text">
        <h1>Price</h1>
        <h1>Sniffer</h1>
        <h2>Трать меньше - живи лучше.</h2>
        <p>Позвольте себе желаемое, не считая копейки до зарплаты.</p>
      </div>
      <div class="start_area">
        <a id="start-button" href="#">Начать</a>
      </div>
    </div>
    <div class="minor-area">
      <div class="about-area">
        <h1>О нас</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id quo aliquam recusandae distinctio amet reiciendis, veniam neque ad aut deleniti officia illum doloremque atque. Neque laboriosam repellat assumenda veritatis fugit.</p>
        <p>Bully is the twelfth studio album by the American rapper and record producer Kanye West. It was released through YZY and Gamma on March 28, 2026. The album features guest appearances from Travis Scott, André Troutman, Nine Vicious, CeeLo Green, and Peso Pluma. Production was handled by West, Troutman, the Legendary Traxster, Nkenge 1x, and 88-Keys, among others. "Father" (with Scott) was released as the album's lead single along with its release.</p>
        <p>West began working on Bully after the release of Vultures 1 and Vultures 2 (2024), and announced the record in September 2024. He surprise released multiple work-in-progress versions via X on March 18, 2025, accompanied by a short film, titled Bully V1, in which was directed by West and edited by Hype Williams. It stars West's son, Saint, who fights New Japan Pro-Wrestling wrestlers with a toy mallet.</p>
        <p>Sonically, Bully V1 extensively relies on sampling and interpolations, and West mostly sings instead of rapping. Most of West's vocals in the original and physical releases were artificial intelligence-generated audio deepfakes, and he would later re-record most lyrics with his own vocals. Bully V1 received positive reviews from music critics, with praise for its production, though some found its presentation lackluster.</p>
        <h2 style="margin-top: 10px;">Sex is for weak, I choose to die in agony of love.</h2>
      </div>
      <div class="graph-area">
        <canvas id="graph" width="350px" height="500px"></canvas>
      </div>
    </div>
  </div>

  <div class="registration_popup" id="reg-popup">
    <div class="registration_popup_body">
      <h1>Регистрация</h1>
      <form method="post" action="{% url 'main:register' %}">
        {% csrf_token %}
        <input type="text" name="reg-username" placeholder="Логин/Имя" />
        <input type="email" name="reg-email" placeholder="Почта" />
        <input type="text" name="reg-phone" placeholder="Номер телефона" />
        <input type="password" name="reg-password" placeholder="Пароль" />
        <input type="password" name="reg-ex-password" placeholder="Повтор пароля" />
        <button type="submit">Создать аккаунт</button>
      </form>
      <a id="change-to-auth" href="#">Есть аккаунт?</a>
      <a id="close-reg-button" href="#">Закрыть</a>
    </div>
  </div>

  <div class="authorization_popup" id="auth-popup">
    <div class="authorization_popup_body">
      <h1>Авторизация</h1>
      <form method="post" action="{% url 'main:authorization' %}">
        {% csrf_token %}
        <input type="text" name="auth-username" placeholder="Логин/Почта" />
        <input type="password" name="auth-password" placeholder="Пароль" />
        <button type="submit">Войти</button>
      </form>
      <a id="change-to-reg" href="#">Нет аккаунта?</a>
      <a id="close-auth-button" href="#">Закрыть</a>
    </div>
  </div>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/graph.js' %}"></script>
{% endblock %}
