{% extends 'base.html' %}
{% load static %}

{% block style %}
  {% static 'css/menu.css' %}
{% endblock %}

{% block title %}
  Главное меню
{% endblock %}

{% block content %}
  <header>
    <h1>PriceSniffer</h1>
    <ul class="buttons">
      <li>
        <a href="{% url 'main:profile' %}">профиль</a>
      </li>
      <p>|</p>
      <li>
        <a href="{% url 'main:contacts' %}">контакты</a>
      </li>
      <p>|</p>
      <li>
        <a href="{% url 'main:reviews' %}">отзывы</a>
      </li>
    </ul>
  </header>
  <div class="container">
    <div class="main-area">
      <h1 style="cursor: default;">Начни сейчас!</h1>
      <a href="{% url 'main:link' %}" id="start-button">найти товар</a>
    </div>
    {% comment %} <div class="minor-area">
      <div class="about-area">
        <h1>О нас</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id quo aliquam recusandae distinctio amet reiciendis, veniam neque ad aut deleniti officia illum doloremque atque. Neque laboriosam repellat assumenda veritatis fugit.</p>
      </div>
      <div class="img-area">
        <img src="{% static 'imgs/king.jpg' %}" alt="KING" />
      </div>
    </div> {% endcomment %}
  </div>
{% endblock %}
