{% extends 'base.html' %}
{% load static %}

{% block style %}
  {% static 'css/menu.css' %}
{% endblock %}

{% block title %}
  Главное меню
{% endblock %}

{% block content %}
  <header>
    <ul class="buttons">
      <li>
        <a href="{% url 'main:profile' %}">профиль</a>
      </li>
      <p>|</p>
      <li>
        <a href="{% url 'main:contacts' %}">контакты</a>
      </li>
      <p>|</p>
      <li>
        <a href="{% url 'main:reviews' %}">отзывы</a>
      </li>
    </ul>
  </header>
  <div class="content">
    <div class="main-area">
      <div class="text">
        <h1>Price</h1>
        <h1>Sniffer</h1>
        <h2>Нужна только ссылка.</h2>
        {% comment %} <p>Позвольте себе желаемое, не считая копейки до зарплаты.</p> {% endcomment %}
      </div>
      <div class="start_area">
        <a href="{% url 'main:menu' %}">Ввести ссылку</a>
      </div>
    </div>
    <div class="minor-area">
      <div class="about-area">
        <h1>О нас</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id quo aliquam recusandae distinctio amet reiciendis, veniam neque ad aut deleniti officia illum doloremque atque. Neque laboriosam repellat assumenda veritatis fugit.</p>
      </div>
      <div class="img-area">
        <img src="{% static 'imgs/king.jpg' %}" alt="KING" />
      </div>
    </div>
  </div>
{% endblock %}
