{% extends 'base.html' %}
{% load static %}

{% block style %}
  {% static 'css/main.css' %}
{% endblock %}

{% block title %}
  Главное меню
{% endblock %}

{% block content %}
  <header>
    <h1>PriceSniffer</h1>
    <ul class="buttons">
      <li>
        <a href="{% url 'main:profile' %}">профиль</a>
      </li>
      <li>
        <a href="{% url 'main:about' %}">о нас</a>
      </li>
      <li>
        <a href="{% url 'main:contacts' %}">контакты</a>
      </li>
      <li>
        <a href="{% url 'main:reviews' %}">отзывы</a>
      </li>
    </ul>
  </header>
  <div class="container">
    <div class="main-area">
      <h1 style="cursor: default;">Начни сейчас!</h1>
      <a href="#" id="start-button">найти товар</a>
    </div>
  </div>
{% endblock %}
