{% extends 'base.html' %}
{% load static %}

{% block style %}
  {% static 'css/profile.css' %}
{% endblock %}

{% block title %}
  Профиль
{% endblock %}

{% block content %}
  <header>
    <h1>PriceSniffer</h1>
    <a href="{% url 'main:menu' %}">главная</a>
  </header>
  <div class="container">
    <div class="user_card">
      <div class="user_card_body">
        <img src="{% static 'imgs/zaza.png' %}" alt="Иконка пользователя" class="user_img" id="user-img" />
        <h2 class="username" id="username">{{ UserName }}</h2>
        <hr />
        <a href="#" id="logout_button">Выход из аккаунта</a>
      </div>
    </div>
  </div>
  <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
