{% extends 'base.html' %}
{% load static %}

{% block style %}
  {% static 'css/profile.css' %}
{% endblock %}

{% block title %}
  Профиль
{% endblock %}

{% block content %}
  <header>
    <h1>PriceSniffer</h1>
    <a href="{% url 'main:menu' %}">⭠ Главная</a>
  </header>
  <div class="container">
    <div class="user_card">
      <img src="{% static 'imgs/zaza.png' %}" alt="Иконка пользователя" class="user_img" id="user-img" />
      <p class="username" id="username">Хранитель сваги</p>
    </div>
  </div>
  <script src="{% static 'profile.js' %}"></script>
{% endblock %}
