{% extends 'base.html' %}
{% load static %}

{% block style %}
  {% static 'css/reviews.css' %}
{% endblock %}

{% block title %}
  Отзывы
{% endblock %}

{% block content %}
  <header>
    <h1>PriceSniffer</h1>
    <a href="{% url 'main:menu' %}">главная</a>
  </header>
  <div class="container">
    <hr />
    <div class="text">
      <h1>Свыше 300 положительнных отзывов - Множество крупных и известных партнеров</h1>
    </div>
    <hr />
    <div class="scroll">
      <ul>
        <li>
          <h1>Anus</h1>
          <p>This ass is fire</p>
          <p>6/7 stars</p>
        </li>
        <li>
          <h1>User</h1>
          <p>Discription</p>
          <p>Stars</p>
        </li>
        {% for review in reviews %}{% endfor %}
      </ul>
    </div>
    <hr />
    <div class="text">
      <h1>У нас самый пиздатый сайт - У нас самый пиздатый сайт - У нас самый пиздатый сайт</h1>
    </div>
    <hr />
    <div class="main-area">
      <a href="">Оставить отзыв</a>
    </div>
  </div>
{% endblock %}
