header h1 {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 2px;
    width: auto;
}

header a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

header a::before {
    content: '⭠';
    padding: 0 5px 0 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.contacts {
    position: fixed;
    bottom: 0;
    padding: 40px 67px;
}

.contacts ul {
    list-style-type: none;
}

.contacts ul li {
    padding: 20px 0;
}

.contacts ul li h1 {
    cursor: default;
    font-size: 40px;
    font-weight: 800;
}

.contacts ul li a {
    color: black;
    padding-left: 40px;
    font-size: 30px;
}