.buttons {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: right;
    box-sizing: border-box;
    margin-right: 3%;
}

.buttons li a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: normal;
    padding: 0 10px;
}

.buttons li a:hover {
    font-weight: 700;
}

.main-area {
    min-height: 90vh;
    color: white;
    background-color: black;
}

.main-area h1:first-of-type {
    color: red;
}

.minor-area {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 20vh 0;
    padding: 0 50px;
    box-sizing: border-box;
    animation: fadeIn 1.2s;
}

.about-area {
    padding: 30px;
    border: 5px solid black;
    border-radius: 16px;
}

.about-area h1 {
    font-size: 40px;
    font-weight: 800;
}

.about-area p {
    padding-top: 10px;
    font-size: medium;
    font-weight: 500;
}

.img-area {
    padding-left: 20px;
}

.img-area img {
    border-radius: 16px;
    width: 350px;
    height: 500px;
}