.buttons {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: right;
    box-sizing: border-box;
    margin-right: 3%;
}

.buttons li a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: normal;
    padding: 0 10px;
}

.buttons li a:hover {
    font-weight: 700;
}

.main-area {
    min-height: 90vh;
    color: white;
    background-color: black;
}

.main-area h1:first-of-type {
    color: red;
}

.minor-area {
    display: flex;
    flex-direction: row;
    padding: 10% 7%;
    gap: 3%;
}

.about-area {
    border: 5px solid black;
    /* border-radius: 16px; */
    padding: 30px;
}

.img-area img {
    width: 300px;
    height: 480px;
    /* border-radius: 16px; */
}