header .logo {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    /* gap: 10px; */
}

.logo h1 {
    font-weight: 900;
    text-align: left;
}

.logo h1:first-of-type {
    color: rgba(255, 0, 0, 0.8);
}

.logo p {
    font-size: 30px;
    font-weight: 700;
}

.buttons {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: right;
    box-sizing: border-box;
    margin-right: 3%;
}

.buttons li a {
    text-decoration: none;
    color: #140F0B;
    font-size: 30px;
    font-weight: normal;
    padding: 0 10px;
}

.buttons li a:hover {
    font-weight: 700;
}

.main-area {
    display: flex;
    min-height: 90vh;
    align-items: center;
    color: white;
    background-color: black;
}

.main-area .text {
    color: white;
    padding: 0 5vw;
    justify-content: left;
    cursor: default;
    animation: fadeIn 1.2s;
}

.text h1 {
    font-size: 60px;
    font-weight: 900;
}

.text h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.start_area {
    display: flex;
    flex: 1;
    justify-content: right;
    width: 100%;
    padding: 0 5vw;
}

.start_area a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;

    background-color: rgba(255, 0, 0, 0.8);
    border-radius: 8px;
    padding: 20px 80px;

    transition: background-color 0.2s ease, color 0.2s ease;
}

.start_area a:hover {
    color: red;
    font-weight: 900;
    animation: buttonsHover 0.2s;
    animation-fill-mode: forwards;
}

.minor-area {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 20vh 0;
    padding: 0 50px;
    box-sizing: border-box;
    animation: fadeIn 1.2s;
}

.about-area {
    padding: 30px;
    border: 5px solid black;
    border-radius: 16px;
}

.about-area h1 {
    font-size: 40px;
    font-weight: 800;
}

.about-area p {
    padding-top: 10px;
    font-size: medium;
    font-weight: 500;
}

.graph-area {
    padding-left: 20px;
}

.graph-area canvas {
    border-radius: 16px;
    border: #140F0B solid 5px;
}

/* Animations */
@keyframes buttonsHover {
    from {
        box-shadow: none;
    }

    to {
        background-color: white;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}