header h1 {
    font-weight: bold;
    font-size: 48px;
    width: auto;
    letter-spacing: 2px;
}

header a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

header a::before {
    content: '⭠';
    padding: 0 5px 0 0;
}

.container {
    display: flex;
    flex-direction: column;
}